<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
        <title>To-Do List</title>
    </head>

    <body>
        
        <main id="app">
            
            <section class="todo-list">
                
                
                <h3>Task List</h3>
                
                <div class="all-todos">
                    <div 
                    class="single-todo"
                    v-for="todo in todos"
                    :class="{done:todo.done}"
                    @click="todo.done= !todo.done">
                        <p>{{todo.text}}</p>
                    </div>
                    

                </div>

                <button v-if="todos.length" class="clear" @click="todos=[]">Clear all</button>

                <input type="text" placeholder="Escreva uma nova tarefa..." v-model="newTodo.text">
                <button class="add" @click="addTodo()">Add</button>

                <div class="instructions">
                    Instructions:
                    <ul>
                        <li>Click on the task text to toggle between done / to do</li>
                        <li>Use the clear button to remove all the tasks</li>
                        <li>Use the input to add new tasks </li>
                    </ul>
                </div>
            </section>

        </main>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="scripts.js"></script>
    </body>

</html>